body{
    background-color: #ecdebf;
    color: #0b0b4c;
    font-family: "Edu SA Beginner", sans-serif;
}

p{
    color:#030334;
    font-size: 20px;
    line-height: 1.5;
}
ul{
    line-height: 2;
}
h1{
    font-weight: 400;
    font-family: "Winky rough", serif;
    font-size: 50px;
}

h2,h3,h4,h5,h6{
    font-weight: 800px;
}